requests
beautifulsoup4
wbdata
pandas==0.25 
matplotlib
lxml
pytrends
seaborn
numpy
ipython
jupyter
xlrd
twitter-scraper
markovify
folium
cufflinks
plotly
chart_studio
sklearn
streamlit
pandas-profiling==1.4.3
statsmodels
